body {
    background: url('background.jpg')
}

main {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}

.judogi{
    background-color:white;
    padding:10px 10px 20px 10px;
    border:1px solid white;
    box-shadow:10px 10px 30px rgba(0, 0, 0, 0.8);
    transform:rotate(-10deg);
    
}
.chandal{
    background-color:white;
    padding:10px 10px 50px 10px;
    border:1px solid white;
    box-shadow:10px 10px 30px rgba(0, 0, 0, 0.8);
}
.cinturon{
    background-color:white;
    padding:10px 10px 50px 10px;
    border:1px solid white;
    box-shadow:10px 10px 30px rgba(0, 0, 0, 0.8);
    transform:rotate(10deg);
}


